// Effects - General

	.nivo-lightbox-notouch {
		.nivo-lightbox-effect-fade,
		.nivo-lightbox-effect-fadeScale,
		.nivo-lightbox-effect-slideLeft,
		.nivo-lightbox-effect-slideRight,
		.nivo-lightbox-effect-slideUp,
		.nivo-lightbox-effect-slideDown,
		.nivo-lightbox-effect-fall {
			transition-property: transform, opacity, visibility;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
		}
	}
